* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;

  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD);
  font-size: 1.6rem;
}

main {
  background: #FFFFFF;
  border-radius: .6rem;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
  padding: 4.8rem 6.4rem 6.4rem;

  width: min(42.8rem, 90%);
}